*{
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dark-bg{
    margin: 0px;
    border: 0px;
    background-color: #1f2937;
    height: 550px;
}

nav{
    width: 100%;
    margin: auto;
    padding: 30px 0px;
    justify-content: space-between;
    position: relative;
}

.header-nav{
    display: flex;
    width: auto;
    position: absolute;
    left: 1250px;
}

.hero{
    display: flex;
    width: auto;
    justify-content: space-around;
    align-items: center;
}

header a{
    color: #e5e7eb;
    font-size: 18px;
    padding-right: 20px;
}

nav .logo{
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    left: 190px;
}

.main-space{
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding-top: 30px;
}

.left-side{
    width: 35%;
}

.left-side p{
    margin: 20px 0px;
    color: #f9faf8;
    font-size: 18px;
}

.left-side h1{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.button1{
    border-radius: 8px;
    background-color: #3882f6;
    color: white;
    width: 32%;
    height: 40px;
    font-size: 18px;
    border-color: #1f2937;
}

